/* Haciendo Cambios en Comunas */

#Comunas {
    padding-top: 80px;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
   
    }
    