#contenedor-mapa-villareal{
    height: 600px;
    color: rgb(236, 236, 241);
    background-color: aliceblue;
    margin-top: 30px;
    
}

#imgvillareal{
    height: 400px;
    width: cover;
}

#contenedor-mapa-teran{
    height: 600px;
    color: rgb(236, 236, 241);
    background-color: aliceblue;
    margin-top: 30px;
    
}

#imgteran{
    height: 400px;
    width: cover;
}

#contenedor-mapa-toscaneras{
    height: 600px;
    color: rgb(236, 236, 241);
    background-color: aliceblue;
    margin-top: 30px;
}

#imgtoscaneras{
    height: 300px;
    width: cover;
}

#imglafitte{
    height: 400px;
    width: cover;
}

#contenedor-mapa-lafitte{
    height: 600px;
    color: rgb(236, 236, 241);
    background-color: aliceblue;
    margin-top: 30px;
}

#contenedor-mapa-montecastro{
    height: 600px;
    color: rgb(236, 236, 241);
    background-color: aliceblue;
    margin-top: 30px;
}

#imgmontecastro{
    height: 400px;
    width: cover;
}

#contenedor-mapa-banff{
    height: 600px;
    color: rgb(236, 236, 241);
    background-color: aliceblue;
    margin-top: 30px;
}

#imgbanff{
    height: 400px;
    width: cover;
}

/* Haciendo Responsivo el Proyecto */

@media screen and (max-width: 700px) {

    #contenedor-mapa-villareal{
        height: 400px;
        color: rgb(236, 236, 241);
        background-color: aliceblue;
        margin-top: 30px;   
    }

    #contenedor-mapa-teran{
        height: 400px;
        color: rgb(236, 236, 241);
        background-color: aliceblue;
        margin-top: 30px;   
    }

    #contenedor-mapa-toscaneras{
        height: 400px;
        color: rgb(236, 236, 241);
        background-color: aliceblue;
        margin-top: 30px;   
    }

    #contenedor-mapa-lafitte{
        height: 400px;
        color: rgb(236, 236, 241);
        background-color: aliceblue;
        margin-top: 30px;   
    }

    #contenedor-mapa-montecastro{
        height: 400px;
        color: rgb(236, 236, 241);
        background-color: aliceblue;
        margin-top: 30px;   
    }

    #contenedor-mapa-banff{
        height: 400px;
        color: rgb(236, 236, 241);
        background-color: aliceblue;
        margin-top: 30px;   
    }
    

}