/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    width: 100%;
}

.footer .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0;
}

.picture-logo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.img-footer{
    width: 150px;
    height: 150px;
}

.footer-subtitle{
    text-align: center;
    padding: .8em;
    color: white;
    margin-bottom: .7em;
    font-size: 1.5em;
    
}

.footer-paragraph{
    color: white;
    line-height: 1.4;
    margin-top: 1.5em;
    text-align: center;
}

.redes-sociales{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
}
.redes-sociales a{
    transition: all .3s ease;
    color: #fff;
}

.social{
    display: inline-block;
    width: 3em;
    height: 3em;
    line-height: 3em;
    margin: auto;
    
   /* background:  rgba(140, 147, 214, 0.343);*/
    /* transition: all 300ms ease;
k */


footer{
    height: 90px;
    width: 100%;
    /* background-color: black;
    justify-content: space-between;
     */
    
}

button{
    height: 50px;
    font-size: 150px;
    border: none;
    justify-content: space-around;
    margin: 150px; 
    padding-inline: 200px;
    background-color: black;
    
    
}

#Contacto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 90px;
    margin: 20px; 
    padding: 20px;
   
}

#Contacto ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin: 0px; 
    padding: 0px;
    height: 100px;
}

#Contacto ul li button{
    color: rgb(140, 147, 214);
    
     
}




