@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 100%;
    scroll-behavior: smooth;
    background-color: rgb(252, 247, 209)
}


/* Haciendo Cambios en el Index */

#Inicio p {
  padding-top: 150px;
  color: black;
  justify-content: center;
  text-align: justify;
  align-items: center;

}








 






 

 
