
#laboca {
    padding-top: 100px;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    color: rgb(236, 236, 241);
    background-color: black;
    font-size: 20px;
    line-height: 1.5;
   
    }

.parque-izquierda{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: auto;
}

#content-izquierda{
    color: rgb(236, 236, 241);
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

#imgalmirante{
    height: 300px;
    width: cover;
}

#contenedor-mapa-almirante{
    height: 600px;
    color: rgb(236, 236, 241);
    background-color: aliceblue;
    margin-top: 30px;
    
}



/* Haciendo Responsivo el Proyecto */

@media screen and (max-width: 700px) {

    .parque-izquierda{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin: auto;
        padding-left: 16px;
        padding-right: 16px;
    }

    .parque-derecha{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin: auto;
        padding-left: 16px;
        padding-right: 16px;
    }

    #imgalmirante{
        height: 250px;
        width: cover;
    }

    #contenedor-mapa{
        height: 400px;
        color: rgb(236, 236, 241);
        background-color: aliceblue;
        margin-top: 30px;   
    }

    #contenedor-mapa-almirante{
        height: 400px;
        color: rgb(236, 236, 241);
        background-color: aliceblue;
        margin-top: 30px;   
    }

 }