#parque-chacabuco {
    padding-top: 100px;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    color: rgb(236, 236, 241);
    background-color: black;
   
    }

.plazoleta-antoine{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: auto;
}

#content-plazoletaantoine{
    color: rgb(236, 236, 241);
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}



#imgantoinesaint{
    height: 300px;
    width: cover;
}
#contenedor-mapa-antoine{
    height: 600px;
    color: rgb(236, 236, 241);
    background-color: aliceblue;
    margin-top: 30px;
 }
    

.patiodejuegos-chacabuco{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: auto;
}

#content-evaperon-y-puan{
    color: rgb(236, 236, 241);
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
#contenedor-mapa-evaperon{
    height: 600px;
    color: rgb(236, 236, 241);
    background-color: aliceblue;
    margin-top: 30px;
 }

 #imgparquechacabuco{
    height: 300px;
    width: cover;
}
.patiodejuegos-achaval{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: auto;
}

#content-achaval{
    color: rgb(236, 236, 241);
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
#contenedor-mapa-achaval{
    height: 600px;
    color: rgb(236, 236, 241);
    background-color: aliceblue;
    margin-top: 30px;
 }

#imgpatioachaval{
    height: 300px;
    width: cover;
}






/* Haciendo Responsivo el Proyecto */

@media screen and (max-width: 700px) {

    .plazoleta-antoine{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin: auto;
    }

    .patiodejuegos-chacabuco{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin: auto;
    }
    .patiodejuegos-achaval{
    
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin: auto;
    
    
    }

    #imgantoinesaint{
        height: 250px;
        width: cover;
    }

    #imgparquechacabuco{
        height: 250px;
        width: cover;
    
    }

    #imgpatioachaval{
        height: 250px;
        width: cover;
    }
    
    #contenedor-mapa-antoine{
        height: 400px;
        color: rgb(236, 236, 241);
        background-color: aliceblue;
        margin-top: 30px;   
    }

    #contenedor-mapa-evaperon{
        height: 400px;
        color: rgb(236, 236, 241);
        background-color: aliceblue;
        margin-top: 30px;   
    }

    #contenedor-mapa-achaval{
        height: 400px;
        color: rgb(236, 236, 241);
        background-color: aliceblue;
        margin-top: 30px;   
    }

   

}