
#recoleta {
    padding-top: 100px;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    color: rgb(236, 236, 241);
    background-color: black;
    font-size: 20px;
    line-height: 1.5;
   
    }

.parque-izquierda{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: auto;
}

#content-izquierda{
    color: rgb(236, 236, 241);
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

#imgthays{
    height: 300px;
    width: cover;
}

#contenedor-mapa-thays{
    height: 600px;
    color: rgb(236, 236, 241);
    background-color: aliceblue;
    margin-top: 30px;
    
}

.parque-derecha{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: auto;
}

#content-derecha{
    color: rgb(236, 236, 241);
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

#contenedor-mapa{
    height: 600px;
    color: rgb(236, 236, 241);
    background-color: aliceblue;
    margin-top: 30px;
    
}


#imgruben{
    height: 300px;
    width: cover;
}

#contenedor-mapa-ruben{
    height: 600px;
    color: rgb(236, 236, 241);
    background-color: aliceblue;
    margin-top: 30px;
    
}

#imgparaguay{
    height: 300px;
    width: cover;
}

#contenedor-mapa-paraguay{
    height: 600px;
    color: rgb(236, 236, 241);
    background-color: aliceblue;
    margin-top: 30px;
    
}

#imgmujica{
    height: 350px;
    width: cover;
}

#contenedor-mapa-mujica{
    height: 600px;
    color: rgb(236, 236, 241);
    background-color: aliceblue;
    margin-top: 30px;
    
}

#imgemilio{
    height: 450px;
    width: cover;
}

#contenedor-mapa-emilio{
    height: 600px;
    color: rgb(236, 236, 241);
    background-color: aliceblue;
    margin-top: 30px;
    
}

#imgrodriguez{
    height: 400px;
    width: cover;
}

#contenedor-mapa-rodriguez{
    height: 600px;
    color: rgb(236, 236, 241);
    background-color: aliceblue;
    margin-top: 30px;
    
}

#contenedor-mapa-miguel{
    height: 600px;
    color: rgb(236, 236, 241);
    background-color: aliceblue;
    margin-top: 30px;
    
}

#imghoussay{
    height: 400px;
    width: cover;
}

#contenedor-mapa-bernardo{
    height: 600px;
    color: rgb(236, 236, 241);
    background-color: aliceblue;
    margin-top: 30px;
    
}

#imgmonseñor{
    height: 400px;
    width: cover;
}


/* Haciendo Responsivo el Proyecto */

@media screen and (max-width: 700px) {

    .parque-izquierda{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin: auto;
        padding-left: 16px;
        padding-right: 16px;
    }

    .parque-derecha{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin: auto;
        padding-left: 16px;
        padding-right: 16px;
    }

    #imgthays{
        height: 250px;
        width: cover;
    }

    #contenedor-mapa{
        height: 400px;
        color: rgb(236, 236, 241);
        background-color: aliceblue;
        margin-top: 30px;   
    }

    #contenedor-mapa-thays{
        height: 400px;
        color: rgb(236, 236, 241);
        background-color: aliceblue;
        margin-top: 30px;   
    }

    #imgruben{
        height: 250px;
        width: cover;
    }

    #contenedor-mapa-ruben{
        height: 400px;
        color: rgb(236, 236, 241);
        background-color: aliceblue;
        margin-top: 30px;   
    }

    #imgmujica{
        height: 250px;
        width: cover;
    }

    #contenedor-mapa-mujica{
        height: 400px;
        color: rgb(236, 236, 241);
        background-color: aliceblue;
        margin-top: 30px;   
    }

    #imgparaguay{
        height: 250px;
        width: cover;
    }

    #contenedor-mapa-paraguay{
        height: 400px;
        color: rgb(236, 236, 241);
        background-color: aliceblue;
        margin-top: 30px;   
    }

    #imgemilio{
        height: 250px;
        width: cover;
    }

    #contenedor-mapa-emilio{
        height: 400px;
        color: rgb(236, 236, 241);
        background-color: aliceblue;
        margin-top: 30px;   
    }

    #imgrofriguez{
        height: 250px;
        width: cover;
    }

    #contenedor-mapa-rodriguez{
        height: 400px;
        color: rgb(236, 236, 241);
        background-color: aliceblue;
        margin-top: 30px;   
    }

    #imgmiguel{
        height: 250px;
        width: cover;
    }

    #contenedor-mapa-miguel{
        height: 400px;
        color: rgb(236, 236, 241);
        background-color: aliceblue;
        margin-top: 30px;   
    }

    #imghoussay{
        height: 250px;
        width: cover;
    }

    #contenedor-mapa-bernardo{
        height: 400px;
        color: rgb(236, 236, 241);
        background-color: aliceblue;
        margin-top: 30px;   
    }

}