#recoleta {
    padding-top: 100px;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    color: rgb(236, 236, 241);
    background-color: black;
   
    }

.parque-izquierda{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: auto;
}

#content-izquierda{
    color: rgb(236, 236, 241);
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

#imgthays{
    height: 300px;
    width: cover;
}

.parque-derecha{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: auto;
}

#content-derecha{
    color: rgb(236, 236, 241);
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

#contenedor-mapa{
    height: 300px;
    color: rgb(236, 236, 241);
    background-color: aliceblue;
    margin-top: 30px;
    
}

#imgruben{
    height: 300px;
    width: cover;
}

#imgparaguay{
    height: 300px;
    width: cover;
}

#imgmujica{
    height: 350px;
    width: cover;
}

/* Haciendo Responsivo el Proyecto */

@media screen and (max-width: 700px) {

    .parque-izquierda{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin: auto;
    }

    .parque-derecha{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin: auto;
    }

}