#villapuerredon {
    padding-top: 100px;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    color: rgb(236, 236, 241);
    background-color: black;
    }

.plaza-del-angel{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: auto;
}

#content-plaza-del-angel{
    color: rgb(236, 236, 241);
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

#imgangelgris{
    height: 400px;
    width: cover;
}
#contenedor-mapa-angel{
    height: 600px;
    color: rgb(236, 236, 241);
    background-color: aliceblue;
    margin-top: 30px;
    
}
.plaza-periodistas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: auto;
}

#content-plazaperiodistas{
    color: rgb(236, 236, 241);
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
#contenedor-mapa-periodistas{
    height: 600px;
    color: rgb(236, 236, 241);
    background-color: aliceblue;
    margin-top: 30px;
    
}
#imgplazaperiodistas{
    height: 400px;
    width: cover;
}

/* Haciendo Responsivo el Proyecto */

@media screen and (max-width: 700px) {

    .plaza-del-angel{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin: auto;
    }

    .plaza-periodistas{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin: auto;
    }
    #imgangelgris{
        height: 250px;
        width: cover;
    }


    #imgplazaperiodistas{
        height: 250px;
        width: cover;
    }

   

    
    
    #contenedor-mapa-angel{
        height: 300px;
        color: rgb(236, 236, 241);
        background-color: aliceblue;
        margin-top: 30px;   
    }

    #contenedor-mapa-periodistas{
        height: 300px;
        color: rgb(236, 236, 241);
        background-color: aliceblue;
        margin-top: 30px;   
    }

  
   

}